/* VARIABLES */
:root {
  --globalWidth: 80vw;
  --globalMaxWidth: 69rem;
  --mainColor: #ffffff;
  --darkColor: #030303;
  --otherColor: rgb(136, 136, 136);
}

/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background: linear-gradient(
    145deg,
    rgba(38, 92, 144, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  margin: 0;
  padding: 0;
}
input {
  cursor: pointer;
}
button:focus,
input:focus,
.addLine,
.formSubmit,
.formSelect {
  outline: none;
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--mainColor);
}

/* TITLE */
header {
  position: relative;
}
header .title {
  font-family: "Lobster", cursive;
  color: var(--mainColor);
  font-size: 8rem;
}
header img {
  width: 100px;
  position: absolute;
  top: 68%;
  right: -20px;
  transform: rotate(-10deg);
}

/* NAVIGATION */
.nav {
  width: var(--globalWidth);
  max-width: var(--globalMaxWidth);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.addLine,
.formSubmit,
.formSelect {
  width: auto;
  background-color: var(--darkColor);
  border: none;
  color: var(--mainColor);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.addLine {
  width: 10.1rem;
}
.formSelect {
  width: auto;
  height: 54px;
  text-align: left;
}

/* TEMPLATE */
.tierlistDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: var(--globalWidth);
  max-width: var(--globalMaxWidth);
  min-height: 125px;
  margin: 0.5rem 0;
  border: 1px solid var(--darkColor);
  background-color: var(--mainColor);
}
.tierlistItem {
  margin-bottom: 2rem;
}
.tierlistItem > .tierlistDiv {
  display: inline-table;
  height: auto;
  text-align: center;
  background: none;
  border: none;
  margin: 0 0 0.5rem 0;
}
.tierlistUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--darkColor);
  color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tierlistOl {
  margin: 0;
  padding: 0;
}
.tierlistLi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tierlistLi > input {
  width: 100%;
  background-color: transparent;
  border: none;
}
.tierlistLiSvg {
  width: 2rem;
  height: 2rem;
  fill: var(--mainColor);
}
.tierlistLiSvgRotate {
  transform: rotate(180deg);
}
.tierlistDivTitle {
  min-width: 8rem;
  width: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tierlistDivTitleInput {
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
  border: none;
  color: var(--darkColor);
  font-size: 1.5rem;
  border-right: solid 1px var(--darkColor);
}
.tierlistCross {
  background-color: var(--darkColor);
  color: var(--mainColor);
  padding: 0.5rem;
}
.tierlistCrossSvg {
  width: 1rem;
  height: 1rem;
  fill: var(--mainColor);
}

/* FOOTER */
.footer {
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--otherColor);
  background-color: var(--darkColor);
}
.footer p {
  padding: 0;
  margin: 0;
}
